body{
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320 px;
  min-height: 100vh;
}
th {
  width: 120px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding: 20px;
  

}
td{
  padding: 5px;
  
}
.time {
  height: 40px;
}

.calendar table {
  border-collapse: collapse;
  margin: auto;
}
.Event {
  
  padding: 8px;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block; /* or block, depending on layout */
  max-width: 100%;
}

h6 {
  line-height: 10px;
  align-content: center;
}
h5 {
  line-height: 15px;
  align-content: center;
}


.pink {
  background: pink;
}

.blue {
  background: rgb(190, 219, 229);
}


.yellow {
  background: rgb(255, 255, 224);
}
.green {
  background: rgb(224, 255, 224);
}
